.paichart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ADBC9F;
    min-height: 100vh;
}
.chart-heading{
    text-align: center;
}

