.statistics-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ADBC9F;
    min-height: 100vh;
}

.chart-container{
    margin-top: 10px;
}
.bar-chart-heading{
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
    .statistics-container{
        max-height: 100vh;
    }
    .bar-chart-card{
        max-width: 380px;
    }
    .chart-container{
        max-width: 390px;
    }
}