*{
    margin: 0px;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-image: linear-gradient(to right, #436850, #12372A);
    min-width: 100vw;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 70px;
    height: 70px;
}
.heading{
    font-size: 18px;
    font-family:  'Lucida Console' ;
}

.tabs-container{
    margin-right: 20px;
}
.tabs-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tab-item{
    list-style: none;
    margin: 10px;
    color: white;
}
.tab-link{
    text-decoration: none;
    :hover{
        color: rgba(216, 168, 48, 0.856);
        font-weight: bold;
    }
}

.mobile-menu-container,.hamburger-options-container,.hamburger-menu{
    display: none;
}


@media only screen and (max-width: 768px) {
    .nav-container{
        display: flex;
        min-width: 100vw;
        /* flex-direction: row;
        align-items: center; */
        /* justify-content: flex-end; */
    }
    .hamburger-menu{
        /* align-self: center; */
        display: block;
        /* justify-self: flex-end; */
        margin: 15px;
    }

    .logo-container{
        width: 200px;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .heading{
        font-size: 13px;
        max-width: 160px;
    }
    .tabs-container{
        display: none;
    }
    .mobile-menu-container{
        display: block;
        max-width: 250px;
        display: flex;
        flex-direction: column;
    }
    
    
    .menu-icon,.menu-cancel-icon{
        width: 30px;
        height: 30px;
    }
    .hamburger-options-container{
        background-color:  #97ad82;
        opacity: 0.6;
        display: flex;
        flex-direction: column;
        .tabs-list{
            flex-direction: column;
        }
    
    }
    
    .tab-item{
        color: #12372A;
    }
    .hamburger-options-container .tab-item:hover{
        font-weight: bold;
        color: black;
    }
}